<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrGnStsck0l6zcPS2FRr8QyAOOmyRKuIw</string>
	<key>GCM_SENDER_ID</key>
	<string>244053305794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupo5.ulimaplus</string>
	<key>PROJECT_ID</key>
	<string>ulima-plus-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>ulima-plus-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244053305794:ios:d0fce8bbd0097ac9888e5b</string>
	<key>DATABASE_URL</key>
	<string>https://ulima-plus-chat-default-rtdb.firebaseio.com</string>
</dict>
</plist>